* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*overflow: hidden;*/
}

.clock {
    position: relative;
    width: 500px;
    height: 500px;
    background: darkcyan;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
}

.number b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}