* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*overflow: hidden;*/
}

.clock {
    position: relative;
    width: 500px;
    height: 500px;
    background: darkcyan;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
}

.number b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

.center-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #081b29;
}

.hour-hand, .minute-hand, .second-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
}

.hour-hand {
    width: 12px;
    height: 130px;
    background: white;
}

.minute-hand {
    width: 12px;
    height: 190px;
    background: greenyellow;
}

.second-hand {
    width: 6px;
    height: 210px;
    background: red;
}